* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.dashboard {
    background-color: #000000;
    color: #fff;
    padding: 1.5rem 2rem;
    display: flex;
}
.menu {
    flex: 22%;
    max-width: 22%;
    padding: 8rem 0rem;
}
.details {
    flex: 78%;
    max-width: 78%;
    background-color: #ffffff;
    color: black;
    border-radius: 30px;
    padding: 2rem 5%;
}
.menu_items {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    height: 300px;
    justify-content: space-evenly;
}
.menu_items1 {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.menu_icon {
    text-align: left;
    margin-right: 13%;
    width: 18px;
}
.menu_btn {
    background: #1984C0;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    border: 1px solid #1984C0;
    color: #ffffff;
    margin-top: 1rem;
    margin-left: calc(70% - 150px);
    cursor: pointer;
}
.menu_profile {
    display: flex;
    margin-top: 7rem;
    font-size: 14px;
    margin-left: calc(82% - 200px);
    width: 200px;
}
.menu_profiletxt {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    line-height: 20px;
}
.subtxt {
    color: #6B6B6B;
}
.profile_down {
    width: 10px;
    margin-left: 1rem;
    cursor: pointer;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.stat_1 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5rem;
    width: 31.5%;
    background: #1984C010;
}
.stattxt1 {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.stattxt2 {
    font-size: 44px;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.stattxt3 {
    font-size: 14px;
}
.statarrow {
    color: #43E329;
}
.stat_2 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5rem;
    /* width: 23%; */
    background: #1984C010;
    margin-bottom: 1rem;
}
.stattxt4 {
    font-size: 20px;
    margin-top: 0.8rem;
}
.statarrow2 {
    font-size: 14px;;
    color: #E32929;
}
.stats1 {
    height: 260px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chart {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.stat_chart {
    width: 70%;
}
.stat_label {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.label1 {
    border-radius: 50%;
    border: 5px solid #1984C0;
    display: inline-block;
    margin-right: 0.3rem;
}
.label2 {
    border-radius: 50%;
    border: 5px solid #19C220;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 0.3rem
}
.versus {
    margin-left: 1rem;
    margin-right: 1rem;
}
.sort {
    color: #6B6B6B;
}
.chartimg {
    margin-top: 2rem;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2rem;
    font-size: 15px;
}
.country {
    color: #6B6B6B;
}
.stats2 {
    display: flex;
    width: 100%;
    margin-top: 3rem;
}
.stats2_1 {
    width: 250px;
    margin-right: 2rem;
}
.grid-item {
    margin-bottom: 0.4rem;
}
.reader-stat {
    letter-spacing: 0.3px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.reader-down {
    width: 10px;
}
.dropdown {
    cursor: pointer;
}
.mini_menu, .mini_menu_bar {
    display: none;
}
@media(max-width: 1000px) {
 .stattxt1, .stattxt3, .menu_profiletxt, .reader-stat {
    font-size: 12px;
 }   
 .stattxt2 {
    font-size: 40px;
 }
 .menu_items1, .grid-container, .stat_label {
    font-size: 13px;
 }
 .menu_avatar {
    width: 45px;
 }
 .stat_chart {
    width: 65%;
 }
 .stats1 {
    width: 28%;
 }
 .menu_profile {
    margin-left: calc(100% - 200px);
 }
 .stats2_1 {
    width: 220px;
 }
 .menu_btn {
    margin-left: calc(85% - 150px);
 }
 .menu_items {
    margin-left: 10%;
 }
}
@media(max-width: 850px) {
    .menu {
        display: none;
    }
    .details {
        max-width: 100%;
        flex: 100%;
    }
    .mini_menu_bar {
        display: flex;
        padding: 1.5rem 0;
        justify-content: space-between;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .dashboard {
        flex-direction: column;
        padding-top: 0;
    }
    .menu_hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .line1 {
        width: 30px;
        height: 3px;
        background: #ffffff;
    }
    .line2 {
        width: 15px;
        height: 3px;
        background: #ffffff;
        margin-left: 15px;
    }
    .mini_menu {
        display: none;
        position: fixed;
        z-index: 99;
        background: #000000;
        height: 100vh;
        margin-left: -1rem;
        overflow-y: auto;
        padding-bottom: 6rem;
        transition: 0.5s;
    }
    .chartimg {
        margin-top: 4rem;
    }
    .mini_items {
        margin-top: 3rem;
    }
}

@media(max-width: 619px) {
    .chart {
        flex-direction: column;
        padding-top: 0;
    }
    .stats1 {
        margin-top: 2rem;
    flex-direction: row;
    width: 100%;
    height: 150px;
    }
    .stat_2 {
        width: 40%;
    }
    .stat_chart {
        width: 95%;
    }
    .stats {
        flex-wrap: wrap;
    }
    .stat_1 {
        width: 190px;
        margin-bottom: 2rem;
    }
    .stats2 {
        margin-top: 1rem;
    }
    .stats2_1 {
        margin-right: 0;
    }
    .newstat {
        margin-right: 1.5rem;
    }
}

@media (max-width: 500px) {
    .stat_1 {
        width: 100%;
    }
    .stats2 {
        flex-direction: column;
    }
    .stat_2 {
        width: 50%;
    }
    .dashboard {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}
.hide {
    display: none;
}
.show {
    display: block;
}