* {
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    margin: 0;
}

/*Navbar Styling*/
.navbar {
    display: flex;
    padding: 3rem 2rem 3rem 3.5rem;
    justify-content: space-between;
    color: #000000;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.3px;
}
.navlinksec {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-right: 25%;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 95%;
    padding-top: 5px;
}
.navlogo {
    font-weight: 700;
    font-size: 150%;
}
.navlink {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
#homelink::after {
    content: "";
    display: block;
    border: 2px solid #F0B1CF;
    margin-top: 0.3rem;
}
.navlink:hover::after {
    content: "";
    display: block;
    border: 2px solid #F0B1CF;
    margin-top: 0.3rem;
}
.navctrl {
    width: 100px;
    display: flex;
    justify-content: space-around;
    height: 15px;
}
.navicon:hover {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.ellipse {
    height: 8px;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

/*First Section Styling*/
.landingsection {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 3rem 3.5rem;
}
#socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    margin: auto 0;
}
.smicon {
    cursor: pointer;
}
.firstsectxt {
    font-family: 'PT Serif';
    font-weight: 700;
    width: 300px;
    text-align: center;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, #F0B1CF80 50%, transparent 50%) no-repeat;
    font-size: 68px;
    padding: 1rem;
}
.clothesthat {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopnow {
    display: flex;
    align-items: center;
}
.shopnowtxt {
    font-family: 'Hind';
    font-weight: 600;
    margin-right: 1rem;
    font-size: 20px;
}
.shopnowimg {
    width: 45px;
    cursor: pointer;
}
.woman {
    width: 100%;
}

/*Second & Third Section - Ladies & Gents Collection*/
.ladiescollection {
    padding: 3rem 0 5rem 0;
}
.ladiestxt {
    width: 150px;
    height: 131px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.2rem;
    background: linear-gradient(90deg, #F0B1CF80 50%, transparent 50%) no-repeat;
    margin-left: 3.5rem;
}
.smtxt {
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
}
.lgtxt {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 42px;
    white-space: nowrap;
}
.ladiesimg {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.ladiesimg1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ladiesimg3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgwidth {
    width: 32vw;
    opacity: 85%;
}
.lady1 {
    margin-bottom: 1.3rem;
}
.lady3 {
    height: 100%;
}
.lady3::after {
    content: "";
}
.sectionshop {
    margin-left: 3rem;
    margin-top: 2rem;
}
.imgtxt {
    position: absolute;
    margin-top: -4rem;
    color: #ffffff;
    margin-left: 13%;
    font-family: 'PT Serif';
    font-size: 32px;
}

/*Fourth Section - Brand*/
.brandsec {
    position: relative;
}
.brand {
    display: flex;
    margin-top: 5rem;
    background: #F0B1CF25;
    position: relative;
}
.brandtxt {
    flex: 50%;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    width: 50%;
    margin: auto;
    margin-left: 7%;
    text-align: justify;
}
.titletxt {
    padding-left: 2.5rem;
}
.dots {
    position: absolute;
    right: 0;
    margin-top: -2rem;
}
.brandtxt1 {
    width: 80%
}
.brandtxt2 {
    margin-top: 3rem;
    width: 80%
}
.brandimg {
    flex: 50%;
    width: 50%;
}
.readmoretxt {
    color: #F0B1CF;
    margin-left: 4.5rem;
    cursor: pointer;
}
.readmoreicon {
    width: 8px;
    cursor: pointer;
}
.brandbg {
    position: absolute;
    left: 35%;
    top: -8rem;
}

/*Fifth Section - 15% Off*/
.percentbackdrop {
    padding: 8rem 0;
    position: relative;
}
.percentoff {
    width: 90%;
    background: #F7BBD880;
    border-radius: 50px;
    margin: auto;
    padding: 9rem 13rem;
}
.percentofftxt1 {
    font-size: 32px;
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: italic;
    line-height: 44px;
    color: #000000;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 4;
}
.percentofftxt2 {
    text-align: center;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding: 2rem 0;
}
.percentbtn {
    text-align: center;
    color: #ffffff;
    background: #000000;
    padding: 0.8rem;
    font-family: 'Hind';
    font-size: 18px;
    width: 180px;
    margin: auto;
    cursor: pointer;
}
.shoparrow {
    width: 7px;
    margin-left: 1rem;
    cursor: pointer;
}
.leftbg {
    position: absolute;
    left: 10%;
    bottom: 13rem;
}
.rightbg {
    position: absolute;
    right: 6.5%;
    bottom: 13rem;
}
.topbg {
    position: absolute;
    left: 30%;
    margin-top: 3rem;
}
.dotbg {
    position: absolute;
    right: 20%;
    margin-top: -3rem;
    width: 20vw;
}
.style {
    position: absolute;
    right: 5%;
    margin-top: -3.5rem;
}
.dots3 {
    right: 20%;
    position: absolute;
    margin-top: -7rem
}
.dots4a {
    position: absolute;
    margin-top: -2.5rem;
    right: 35%;
}
.dots4b {
    position: absolute;
    left: 34%;
    margin-top: -14rem;
}

/*Sixth Section - Your Style Is Our Priority*/
.yourstyle {
    background-image: url("./assets/brand.svg");
    color: #ffffff;
    opacity: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem 12rem;
    text-align: center;
}
.yourstyletxt {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 62px;
    margin-bottom: 6rem;
}
.yourstylebtn {
    font-family: 'PT Serif';
    font-weight: 700;
    border: 2px solid #ffffff;
    font-size: 32px;
    padding: 1rem;
    width: 280px;
    margin: auto;
    cursor: pointer;
}
.ladiescarousel {
    display: none;
}

/*Responsiveness*/
@media(max-width: 1000px) {
    .firstsectxt {
        font-size: 5.3vw;
        padding: 1rem 2rem;
    }
    .clothesthat {
        margin-left: 15%;
    }
    .navlinksec {
        margin-right: 0;
    }
    .brandtxt {
        font-size: 14px;
    }
    .brandtxt2 {
        margin-top: 1rem;
    }
    .shopnowtxt {
        font-size: 18px;
    }
    .shopnowimg {
        width: 38px;
    }
    .ladiestxt {
        width: 135px;
    }
    .smtxt {
        font-size: 14px;
    }
    .lgtxt {
        font-size: 38px;
    }
    .titletxt {
        padding-left: 2rem;
    }
    .readmoretxt {
        font-size: 18px;
    }
    .readmoreicon {
        width: 7px;
    }
    .percentoff {
        padding: 7rem 10rem;
    }
    .percentofftxt1 {
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .percentbtn {
        font-size: 17px;
        width: 170px;
    }
    .yourstyle {
        padding: 12rem 9rem;
    }
    .yourstyletxt {
        font-size: 54px;
    }
    .yourstylebtn {
        font-size: 28px;
        width: 250px;
        padding: 0.8rem;
    }
    .dots4b {
        margin-top: -11.5rem;
        left: 28%;
    }
}

@media (max-width: 800px) {
    .navbar {
        padding: 2rem 1rem 2rem 1.5rem;
    }
    .navlinksec {
        width: 300px;
        font-size: 85%;
    }
    .navlogo {
        font-size: 120%;
    }
    .navctrl {
        width: 70px;
        height: 14px;
    }
    .navicon {
        width: 14px;
    }
    .navicon:hover {
        width: 15px;
    }
    .ellipse {
        top: 2rem;
        right: 1rem;
    }
    .landingsection {
        padding-left: 1.5rem;
    }
    .clothesthat {
        margin-left: 0;
    }
    .firstsectxt {
        font-size: 55px;
        width: 400px;
        padding: 2rem;
    }
    .woman {
        display: none;
    }
    .brand {
        flex-direction: column;
    }
    .brandtxt {
        padding: 6rem 14%;
        width: 100%;
        font-size: 15px;
        margin-left: 0;
    }
    .brandimg {
        width: 100%;
    }
    .percentoff {
        padding: 5rem 10%;
    }
    .percentofftxt1 {
        font-size: 25px;
    }
    .ladiesimg {
        display: none;
    }
    .ladiescarousel {
        display: block;
        margin-top: 3rem;
        padding: 10%;
        background: #F7BBD830;
    }
    .imgwidth {
        width: 100%;
        height: 400px;
    }
    .ladindicate li {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .yourstyle {
        padding: 10rem 4rem;
    }
    .yourstyletxt {
        font-size: 50px;
    }
    .yourstylebtn {
        font-size: 25px;
        width: 220px;
    }
    .ladiestxt {
        margin-left: 1.5rem;
     }
     .brandtxt1, .brandtxt2 {
        width: 100%;
     }
}
.mymobilenav {
    display: none;
}
@media(max-width: 600px) {
    .mynav {
        display: none;
    }
    .mymobilenav {
        padding: 1rem 1.5rem 1rem 1.5rem;
        display: flex;
        background: #F7BBD890;
    }
    .navlink {
        font-family: 'Hind', sans-serif;
    }
    .myhamburger {
        border: none;
    }
    .myhamburger span {
        background-image: none !important;
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     }
     .line {
        height: 2px;
        background-color: #000000;
     }
     .shrtline {
        width: 15px;
        margin-left: 15px;
     }
     .firstsectxt {
        width: 300px;
        font-size: 50px;
        padding: 1rem 2rem;
     }
     .shopnowtxt {
        font-size: 16px;
     }
     .shopnowimg {
         width: 32px;
     }
     .leftbg, .rightbg, .dots4a, .dots4b, .topbg {
        width: 80px;
     }
     .dots3 {
         width: 35px;
     }
     .style {
        width: 130px;
        margin-top: -1.5rem;
     }
     .brandbg {
        width: 100px;
        top: -2rem;
     }
     .brandtxt {
        padding: 4rem 14%;
     }
     .myhamburger:focus {
         border: none;
         outline: none;
     }
     .percentoff {
        padding: 4rem 10%;
     }
     .percentofftxt1 {
        font-size: 20px;
        margin-bottom: 0rem;
     }
     .percentofftxt2 {
        font-size: 16px;
     }
     .percentbtn {
        font-size: 15px;
        width: 150px;
     }
     .yourstyle {
        padding: 7rem 10%;
     }
     .yourstyletxt {
        font-size: 42px;
        margin-bottom: 5rem;
     }
     .yourstylebtn {
        font-size: 20px;
        width: 190px;
     }
     .smtxt {
        font-size: 13px;
     }
     .lgtxt {
        font-size: 34px;
     }
     .sectionshop {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
    .readmoretxt {
        margin-left: 3rem;
    }
    .dots {
        width: 40vw;
    }
}

@media(max-width: 400px) {
    .brandtxt {
        padding: 3rem 10%;
    font-size: 14px;
    }
    .mymobilenav {
        padding: 1rem;
    }
    .landingsection {
        padding-left: 1rem;
    }
    .firstsectxt {
        font-size: 42px;
        width: 230px;
        margin-bottom: 2rem;
    }
    .shopnowtxt {
        font-size: 14px;
    }
    .shopnowimg {
        width: 28px;
    }
    .ladiescollection {
        padding: 2rem 0 3rem 0;
    }
    .ladiestxt {
        margin-left: 1rem;
        padding-left: 1rem;
        height: 120px;
        width: 115px;
    }
    .smtxt {
        font-size: 12px;
    }
    .lgtxt {
        font-size: 30px;
    }
    .ladiescarousel {
        margin-top: 2rem;
    }
    .brand {
        margin-top: 2rem;
    }
    .brandtxt {
        letter-spacing: normal;
        line-height: 26px;
    }
    .percentoff {
        padding: 2rem 6%;
        border-radius: 35px;
        width: 95%;
    }
    .percentofftxt1 {
        font-size: 16px;
        line-height: 28px;
    }
    .percentofftxt2 {
        padding: 1.5rem 0;
        font-size: 14px;
        line-height: normal;
    }
    .percentbtn {
        font-size: 12px;
        width: 110px;
        padding: 0.6rem;
    }
    .leftbg, .rightbg, .dots4a, .dots4b, .topbg {
        width: 50px;
    }
    .leftbg, .rightbg {
        bottom: 10rem;
    }
    .dots3 {
        width: 20px;
        margin-top: -3rem;
        right: 22%;
    }
    .dots4a {
        margin-top: -1rem;
    }
    .dots4b {
        margin-top: -5rem;
    }
    .topbg {
        margin-top: 1rem;
        left: 20%;
    }
    .dotbg {
        margin-top: 0rem;
    }
    .yourstyle {
        padding: 4rem 15%;
        padding-bottom: 6rem;
    }
    .yourstyletxt {
        font-size: 30px;
        margin-bottom: 4rem;
    }
    .yourstylebtn {
        font-size: 17px;
        width: 140px;
        padding: 0.5rem;
    }
    .percentbackdrop {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .sectionshop {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .readmoretxt {
        margin-left: 2rem;
    }
}