* {
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    margin: 0;
}

/*Navbar Styling*/
.navbar {
    display: flex;
    padding: 3rem 2rem 3rem 3.5rem;
    justify-content: space-between;
    color: #000000;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.3px;
}
.navlinksec {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-right: 25%;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 95%;
    padding-top: 5px;
}
.navlogo {
    font-weight: 700;
    font-size: 150%;
}
.navlink {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
#homelink::after {
    content: "";
    display: block;
    border: 2px solid #F0B1CF;
    margin-top: 0.3rem;
}
.navlink:hover::after {
    content: "";
    display: block;
    border: 2px solid #F0B1CF;
    margin-top: 0.3rem;
}
.navctrl {
    width: 100px;
    display: flex;
    justify-content: space-around;
    height: 15px;
}
.navicon:hover {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.ellipse {
    height: 8px;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

/*First Section Styling*/
.landingsection {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 3rem 3.5rem;
}
#socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    margin: auto 0;
}
.smicon {
    cursor: pointer;
}
.firstsectxt {
    font-family: 'PT Serif';
    font-weight: 700;
    width: 300px;
    text-align: center;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, #F0B1CF80 50%, transparent 50%) no-repeat;
    font-size: 68px;
    padding: 1rem;
}
.clothesthat {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopnow {
    display: flex;
    align-items: center;
}
.shopnowtxt {
    font-family: 'Hind';
    font-weight: 600;
    margin-right: 1rem;
    font-size: 20px;
}
.shopnowimg {
    width: 45px;
    cursor: pointer;
}
.woman {
    width: 45vw;
}

/*Second & Third Section - Ladies & Gents Collection*/
.ladiescollection {
    padding: 3rem 0 5rem 0;
}
.ladiestxt {
    width: 150px;
    height: 131px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.2rem;
    background: linear-gradient(90deg, #F0B1CF80 50%, transparent 50%) no-repeat;
    margin-left: 3.5rem;
}
.smtxt {
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
}
.lgtxt {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 42px;
    white-space: nowrap;
}
.ladiesimg {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.ladiesimg1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ladiesimg3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgwidth {
    width: 32vw;
    opacity: 85%;
}
.lady1 {
    margin-bottom: 1.3rem;
}
.lady3 {
    height: 100%;
}
.lady3::after {
    content: "";
}
.sectionshop {
    margin-left: 3rem;
    margin-top: 2rem;
}
.imgtxt {
    position: absolute;
    margin-top: -4rem;
    color: #ffffff;
    margin-left: 13%;
    font-family: 'PT Serif';
    font-size: 32px;
}

/*Fourth Section - Brand*/
.brand {
    display: flex;
    margin-top: 5rem;
    background: #F0B1CF25;
}
.brandtxt {
    flex: 50%;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    width: 50%;
    margin: auto;
    margin-left: 7%;
    text-align: justify;
}
.titletxt {
    padding-left: 2.5rem;
}
.brandtxt1 {
    width: 80%
}
.brandtxt2 {
    margin-top: 3rem;
    width: 80%
}
.brandimg {
    flex: 50%;
    width: 50%;
}
.readmoretxt {
    color: #F0B1CF;
    margin-left: 4.5rem;
    cursor: pointer;
}
.readmoreicon {
    width: 8px;
    cursor: pointer;
}

/*Fifth Section - 15% Off*/
.percentbackdrop {
    padding: 8rem 0;
}
.percentoff {
    width: 90%;
    background: #F7BBD880;
    border-radius: 50px;
    margin: auto;
    padding: 9rem 13rem;
}
.percentofftxt1 {
    font-size: 32px;
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: italic;
    line-height: 44px;
    color: #000000;
    text-align: center;
    margin-bottom: 3rem;
}
.percentofftxt2 {
    text-align: center;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding: 2rem 0;
}
.percentbtn {
    text-align: center;
    color: #ffffff;
    background: #000000;
    padding: 0.8rem;
    font-family: 'Hind';
    font-size: 18px;
    width: 180px;
    margin: auto;
    cursor: pointer;
}
.shoparrow {
    width: 7px;
    margin-left: 1rem;
    cursor: pointer;
}

/*Sixth Section - Your Style Is Our Priority*/
.yourstyle {
    background-image: url("./assets/brand.svg");
    color: #ffffff;
    opacity: 80;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem 12rem;
    text-align: center;
}
.yourstyletxt {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 62px;
    margin-bottom: 6rem;
}
.yourstylebtn {
    font-family: 'PT Serif';
    font-weight: 700;
    border: 2px solid #ffffff;
    font-size: 32px;
    padding: 1rem;
    width: 280px;
    margin: auto;
    cursor: pointer;
}


/*Responsiveness*/
@media(max-width: 1000px) {
    .firstsectxt {
        font-size: 5.3vw;
        padding: 1rem 2rem;
    }
    .navlinksec {
        margin-right: 0;
    }
    .brandtxt {
        font-size: 14px;
    }
    .brandtxt2 {
        margin-top: 1rem;
    }
    .shopnowtxt {
        font-size: 18px;
    }
    .shopnowimg {
        width: 38px;
    }
    .ladiestxt {
        width: 135px;
    }
    .smtxt {
        font-size: 14px;
    }
    .lgtxt {
        font-size: 38px;
    }
    .titletxt {
        padding-left: 2rem;
    }
    .readmoretxt {
        font-size: 18px;
    }
    .readmoreicon {
        width: 7px;
    }
    .percentoff {
        padding: 7rem 10rem;
    }
    .percentofftxt1 {
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .percentbtn {
        font-size: 17px;
        width: 170px;
    }
    .yourstyle {
        padding: 12rem 10rem;
    }
    .yourstyletxt {
        font-size: 56px;
    }
    .yourstylebtn {
        font-size: 28px;
        width: 250px;
        padding: 0.8rem;
    }
}